extends template.pug
block content
  h1 Login
  div.form-wrap
    div.form
      div.form-group
        label(for="username") Username
        input(type="text", placeholder="Username").form-control#username
      div.form-group
        label(for="password") Password
        input(type="password", placeholder="Password").form-control#password

      div.keep-wrap
        button(type="submit").btn.btn-primary#submit-btn Login
        div.form-check.form-check-inline.keep-check
          input(type="checkbox").form-check-input#keep-logged-in
          label(for="keep-logged-in").form-check-label Keep me signed in
      br
      a(href="#", data-toggle="modal", data-target="#reset-modal").text-muted#reset-modal-btn Forgotten your password? 
      br
      a(href="#", data-toggle="modal", data-target="#username-modal").text-muted#username-modal-btn Forgotten your username? 
      
      div(tabindex="-1", role="dialog", aria-hidden="true").modal.fade#username-modal
        div(role="document").modal-dialog
          div.modal-content
            div.modal-header
              h5 Password Reset
              button(type="button", data-dismiss="modal").close
                span &times;
            div.modal-body
              | Enter your email below and we'll send you an email to help!
              form(novalidate="true").needs-validation#username-form
                div.form-group
                  label(for="reset-username") Email
                  input(type="email", placeholder="you@example.org" required="true").form-control#email-username
                  div.invalid-feedback Incorrect email
            div.modal-footer
              button(type="button", data-dismiss="modal").btn.btn-secondary Nevermind!
              button(type="button").btn.btn-primary#username-btn Send


      div(tabindex="-1", role="dialog", aria-hidden="true").modal.fade#reset-modal
        div(role="document").modal-dialog
          div.modal-content
            div.modal-header
              h5 Password Reset
              button(type="button", data-dismiss="modal").close
                span &times;
            div.modal-body
              | Enter your username below and we'll send you a link where you can reset your password
              form(novalidate="true").needs-validation#reset-form
                div.form-group
                  label(for="reset-username") Username
                  input(type="text", required="true").form-control#reset-username
                  div.invalid-feedback Incorrect username
            div.modal-footer
              button(type="button", data-dismiss="modal").btn.btn-secondary Nevermind!
              button(type="button").btn.btn-primary#reset-btn Reset


      div(tabindex="-1", role="dialog", aria-hidden="true").modal.fade#remember-modal
        div(role="document").modal-dialog
          div.modal-content
            div.modal-header
              h5 Are you sure?
              button(type="button", data-dismiss="modal").close
                span &times;
            div.modal-body
              //- CP carousel
              div(data-ride="carousel").carousel.slide#cp-carousel
                div.carousel-inner
                  div.carousel-item.active
                    img(src=require("@/images/cp/banned.svg")).d-block.w-100
                  div.carousel-item
                    img(src=require("@/images/cp/igloo.png")).d-block.w-100
                  div.carousel-item
                    img(src=require("@/images/cp/coins.svg")).d-block.w-100
            div.modal-footer
              button(type="button", data-dismiss="modal").btn.btn-secondary No! Go back!
              button(type="button", data-dismiss="modal").btn.btn-primary#save-password Yes, I'm sure
